body {
    font-family: "Avenir Book", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: bold;
}

p {
    font-weight: 300;
    line-height: 1.4;
}

code {
    font-size: 0.8rem;
    margin: 0 0.2rem;
    padding: 0.5rem 0.8rem;
    white-space: nowrap;
    background: #efefef;
    border: 1px solid #d3d3d3;
    color: #000000;
    border-radius: 3px;
}

pre>code {
    display: block;
    white-space: pre;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

pre.prettyprint>code {
    border: none;
}

.disclaimerbox {
    background-color: #eee;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px;
}

video.header-vid {
    height: 140px;
    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

img.header-img {
    height: 140px;
    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

img.rounded {
    border: 0px solid #eeeeee;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

}

a:link,
a:visited {
    color: #1367a7;
    text-decoration: none;
}

a:hover {
    color: #208799;
}

header td.dl-link {
    height: 160px;
    text-align: center;
    font-size: 22px;
}

.layered-paper-big {
    /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
            0px 0px 1px 1px rgba(0, 0, 0, 0.35),
                /* The top layer shadow */
            5px 5px 0 0px #fff,
                /* The second layer */
            5px 5px 1px 1px rgba(0, 0, 0, 0.35),
                /* The second layer shadow */
            10px 10px 0 0px #fff,
                /* The third layer */
            10px 10px 1px 1px rgba(0, 0, 0, 0.35),
                /* The third layer shadow */
            15px 15px 0 0px #fff,
                /* The fourth layer */
            15px 15px 1px 1px rgba(0, 0, 0, 0.35),
                /* The fourth layer shadow */
            20px 20px 0 0px #fff,
                /* The fifth layer */
            20px 20px 1px 1px rgba(0, 0, 0, 0.35),
                /* The fifth layer shadow */
            25px 25px 0 0px #fff,
                /* The fifth layer */
            25px 25px 1px 1px rgba(0, 0, 0, 0.35);
    /* The fifth layer shadow */
    margin-left: 10px;
    margin-right: 45px;
}


.layered-paper {
    /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
            0px 0px 1px 1px rgba(0, 0, 0, 0.35),
                /* The top layer shadow */
            5px 5px 0 0px #fff,
                /* The second layer */
            5px 5px 1px 1px rgba(0, 0, 0, 0.35),
                /* The second layer shadow */
            10px 10px 0 0px #fff,
                /* The third layer */
            10px 10px 1px 1px rgba(0, 0, 0, 0.35);
    /* The third layer shadow */
    margin: 5px 30px 5px 10px;
}

.vert-cent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.wip {
    text-align: center;
}

header table {
    align-content: center;
    width: 800px;
}

header td {
    align-content: center;
}

.corr {
    text-align: center;
}

pre {
    background: #FFF1E5;
    overflow: auto;
    width: auto;
    border: none;
    padding: 1em 1em 0.0em 1em;
    max-width: 100%;
    border-radius: 10px;
    font-size: 10pt;
    margin: 0;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.fed3r-steps {
    width: 800px;
}

.fed3r {
    color: #f1791c;
    font-weight: bold;
}

.fed3rrf {
    color: #ee311f;
    font-weight: bold;
}

.fed3rft {
    color: #c365e4;
    font-weight: bold;
}

.inline-image {
    height: 1em; /* Set the height to match the font size */
    vertical-align: middle; /* Align the image vertically with the text */
}

.inline-image-noalign {
    height: 1em; /* Set the height to match the font size */
}

.bold {
    font-weight: bold;
}

div table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
}
div th, div td {
    border-bottom: 1px solid lightgrey;
    padding: 8px;
    text-align: left;
}
div th {
    background-color: #003366;
    color: white;
    font-size: 1.2em;
    font-variant: small-caps;
}
div tr:nth-child(even) {
    background-color: #f9f9f9;
}
div tr:nth-child(odd) {
    background-color: #ffffff;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.centered-image {
    width: 100%;
}

#immunity_sh {
    width: 80%;
}

.results {
    width: 100%;
}

/* * {box-sizing: border-box;}

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 2px solid #cfcfcf;
    border-radius: 50%;
    cursor: none;
    width: 300px;
    height: 300px;
} */

.back-to-top {
    display: inline-block;
    margin-top: -20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    float: right;
}

.back-to-top:hover {
    color: #ff8000;
}

section .news {
    background-color: #f9f9f9;
    padding: 10px;
    display: block;
    margin-top: -7px;
    margin-bottom: -30px;
}

li .date {
    font-weight: bold;
    display: inline;
    color: #1367a7;
}